{% load rest_framework  %}

<html>
    <body>
    <h1>List of Products</h1>
    <h2>{% if type %}{{type}}{% endif %}</h2>
    <ul>
        {% for product in products %}
            <form action="{% url 'product-delete' product.id %}" method="POST">
                {% csrf_token %}
                <a href="{% url 'product' product.id %}" target="_blank"><h3>{{ product.label }}</h3></a>
                <p>{{ product.type }}</p>
                <input type="submit" value="Delete">
            </form>
        {% endfor %}
    </ul>
    </body>
</html>
